
.glassBox, .glassBox * { box-sizing: border-box; transition: 400ms; }
.glassBox {
  width: 300px;
  height: 380px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  padding: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.glassBox__imgBox img {
  display: block;
  width: 200px;
  height: 200px;
}
.glassBox__title {
  /* text-align: center; */
  margin-top: 15px;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  font-family: "Lato";
}
.glassBox__content {
  position: absolute;
  right: 15px; bottom: 15px; left: 15px;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  font-family: "Lato";
  letter-spacing: .1em;
  opacity: 0;
}
.glassBox:hover .glassBox__imgBox {
  transform: translateY(-50px);
}
.glassBox:hover .glassBox__imgBox img {
  transform: translate(-20px, -40px) rotate(-15deg) scale(1.4);
}
.glassBox:hover .glassBox__title {
  /* //margin-top: 40px; */
}
@keyframes moveLeft {
  from {
    margin-left: 0%;
    margin-top: 0%;
    scale: 1;
  }
  to {
    margin-left: 200%;
    margin-top: 100%;
    scale: 0;
    
    
  }
}

.element {
  animation: moveLeft 2s linear;
  animation-fill-mode: forwards;
  
}
@keyframes moveright {
  from {
    margin-left: 200%;
    margin-top: 100%;
    
  }
  to {
    margin-left: 0;
    margin-top: 0;
    
    
    
  }
}

.element2 {
  animation: moveright .4s linear;
  /* animation-fill-mode: forwards; */
  
}