.swiper {
  /* width: 1100px;
  height: 500px; */
  top: 10%;
}
.svg{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c459.733C92.69%2c472.274%2c199.744%2c482.837%2c272.614%2c424.195C345.141%2c365.829%2c339.089%2c256.013%2c364.454%2c166.44C385.751%2c91.233%2c405.023%2c19.178%2c409.403%2c-58.863C414.781%2c-154.68%2c455.829%2c-267.994%2c392.904%2c-340.453C329.968%2c-412.925%2c207.259%2c-365.458%2c116.364%2c-396.301C19.577%2c-429.144%2c-55.11%2c-550.003%2c-154.508%2c-526.206C-252.847%2c-502.663%2c-278.202%2c-373.564%2c-333.156%2c-288.682C-380.056%2c-216.24%2c-426.255%2c-147.178%2c-453.012%2c-65.133C-484.498%2c31.415%2c-549.742%2c139.62%2c-502.079%2c229.292C-453.986%2c319.775%2c-322.126%2c313.583%2c-228.997%2c356.327C-151.304%2c391.986%2c-84.713%2c448.271%2c0%2c459.733' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 1124.0430000000001C1544.7 1106.252 1578.495 970.581 1660.4850000000001 903.081 1729.28 846.444 1842.37 841.706 1880.675 761.249 1919.002 680.748 1861.911 589.369 1852.031 500.759 1841.74 408.46299999999997 1877.645 303.414 1821.3890000000001 229.524 1764.883 155.30599999999998 1659.561 139.97199999999998 1567.231 126.69 1483.946 114.709 1405.438 147.90800000000002 1321.864 157.66699999999997 1217.356 169.87099999999998 1084.33 112.59699999999998 1014.431 191.24200000000002 944.787 269.599 1031.239 395.334 1018.177 499.351 1005.4680000000001 600.552 909.937 690.967 939.415 788.61 969.001 886.61 1080.415 930.213 1165.4569999999999 987.198 1252.159 1045.295 1337.108 1141.527 1440 1124.0430000000001' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.swiper-slide {
  
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  /* display: block; */
 
}

.swiper-s{
  width: 800px;
}
@media only screen and (max-width: 500px) {
  .swiper {
    width: 500px;
   height: 200px;
   top: 20%;

  }
  .swiper-text {
    font-size: 10px;

 
  }
  
}
